.video-services {
    background: black no-repeat center center;
    background-size: cover;
    color: white;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    height: 0;
    margin-bottom: 1rem;
    padding-bottom: 56.25%;
}

.video-services iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-services .video {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.video-services .video .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
}

.video-services--clicked {
    background: transparent;
    background-image: none !important;
}

.video-services .nojs {
    padding: 20px;
    cursor: auto;
}

.video-services div.play {
    padding: 0 15px;
    text-align: center;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
    text-shadow: 1px -1px 0 #000000;
}

.video-services div.play:before {
    content: '';
    position: absolute;
    width: 80px;
    height: 50px;
    margin-left: -40px;
    left: 50%;
    top: -25px;
    background: black;
    border-radius: 5px;
}

.video-services div.play:before {
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.video-services div.play:before {
    background: rgb(185, 0, 0);
}

.video-services div.play:after {
    content: '';
    border-style: solid;
    border-width: 17px 0 17px 35px;
    border-color: transparent transparent transparent white;
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -15px;
    left: 50%;
    top: -17px;
}

.video-services .describe {
    padding: 0 15px;
    text-align: center;
    font-size: 30px;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    cursor: pointer;
    text-shadow: 1px -1px 0 #000000;
}

.video-services .describe span {
    padding-top: 10px;
    display: inline-block;
}

.video-services .describe span.play {
    display: none;
}

@media screen and (min-width: 40em) {
    .video-services .describe span.play {
        display: block;
    }
}

.video-services .describe .small {
    font-size: 50%;
}

.video-services .describe .small span {
    padding-top: 0;
}
